{% extends 'Navbar/artistnavbar.html' %}
{% load static %}<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>msa</title>
</head>
<body>
{% block body %}




<div>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'images/singer1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Arjith Singh</h5>
    <p class="card-text">He is the singer of the song chaleya and many more ALL TIME HIT songs</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Indian PlayBackSinger</li>
    <li class="list-group-item">Producer</li>
    <li class="list-group-item">Composer</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>

<div>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'images/taylor.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Taylor swift</h5>
    <p class="card-text">She is the singer of the singer for many  ALL TIME HIT songs</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> American Singer</li>
    <li class="list-group-item">Song-writer</li>
    <li class="list-group-item">Composer</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
{% endblock %}

</body>
</html>